{% load static %}

<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{%  static '../static/css/profile.css' %} ">
		
			


	
			<header>
			<div>
				<ul>
				<li><a class="active" href="{% url 'registration:home' %}">Home</a></li>
				   <li><a href="{% url 'registration:Search Job' %}">Search</a></li>
				  
				  
                    {% if flag == "on" %}
                        <li id="login"><a href="">login</a>
                      <ul class="dropdown">
                      <li ><a href="{% url 'registration:login company' %}">Company</a></li>
                      <li ><a href="{% url 'registration:login User' %}"> User</a></li>

                      </ul>
                      <li id="signup"><a href="">Signup</a>
                      <ul class="dropdown">
                      <li><a href="{% url 'registration:registerCompany' %}">Company</a></li>
                      <li><a href="{% url 'registration:registerUser' %}">Job seeker</a></li>
                    {% endif %}
                    {% if flag == "off" %}
                      <li><a href="{% url 'registration:Job Submit' %}">Post a job</a></li>
                        <li id="login"><a href="{% url 'registration:logout' %}">logout</a></li>
                    {% endif %}
                    
                  </ul>
              </ul>

			</header>
	</head>
	<body background="{% static '../static/image/blue.png' %}">
        <li><a href="{% url 'registration:submittedapplication' %}">Submitted Applications</a></li>
                    <li><a href="{% url 'registration:display' %}">View Jobs</a></li>
                    <li><a href="{% url 'registration:Profile Edit company' %}">Edit Profile</a></li>


		<div class="profile">
			<h2>Company Name : {{ user.user_name }}</h2>
            {% if messages %}
		                         <ul class="messages">
		                            {% for message in messages %}
		                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		                            {% endfor %}
		                         </ul>
            {% endif %}
            <div class="personal">
            	<h3>Personal Details</h3>
                <p>First Name : {{ user.first_name }}<p>
                <p>Last Name : {{ user.last_name }}<p>
            </div>
            <div class="contact">
            	<h3>Contact Details</h3>
                <p>Email Id: {{ user.email_id }}<p>
                <p>Address : {{ user.address }}<p>
                <p>Contact Number : {{ user.contact_number }}<p>
            </div>
            <div class="official">
            	<h3>Official Details </h3>
                <p>Website Linked : <a href="{{user.website_linked }}" target="_blank">{{ user.website_linked }}</a></p>
                <p>User Introduction : {{ user.user_introduction }}</p>
                <div>


                    <a href="{% url 'registration:display'%}">view job </a>
        </div>
            </div>

		</div>


			
	
		<footer>
			<div class="Manageby">
			<h4> MANAGE AND PUBLISHEDBY:</h4>
				<div>VAIBHAB BAJPAI ||  KUNAL RAJPUT  || KANIKA SINGHAL</div>
			</div>
			<div class="companylogo">
						<img id="img1" src="{% static '../static/image/book1.png' %}" alt="company logo" >
			</div>
			<div class="followus">
				<h4>FOLLOW US:</h4>
				<a href="https://www.facebook.com">
				<img id="link" alt="followus" src="{% static '../static/image/facebook.png' %}" >
				<a href="http://www.twitter.com">
				<img id="link" alt="followus" src="{% static '../static/image/twitter.png' %}">
				<a href="https://www.youtube.com">
				<img id="link" alt="followus" src="{% static '../static/image/youtube.png' %}" >
			</div>
		</footer>
 </body>
</html>
