{% load static %}

<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{%  static '../static/css/profile.css' %} ">
		
			


	
			<header>
			<div>
				<ul>
				  <li><a class="active" href="{% url 'registration:home' %}">Home</a></li>
				  <li><a href="{% url 'registration:Search Job' %}">Search</a></li>
				  <li id="login"><a href="{% url 'registration:logout' %}">logout</a></li>
				  <li><a href="{% url 'registration:update' %}">Edit Profile</a></li>

				  </li>
				  
				 
				</ul>
			</div>
			</header>
	</head>
	<body background="{% static '../static/image/blue.png' %}">

		<div class="profile">
			<h2>User Name : {{ user.user_name }}</h2>
            <div class="personal">
            	<h3>Personal Details</h3>
                <p>First Name : {{ user.first_name }}<p>
                <p>Last Name : {{ user.last_name }}<p>
            </div>
            <div class="contact">
            	<h3>Contact Details</h3>
                <p>Email Id: {{ user.email_id }}<p>
                <p>Address : {{ user.address }}<p>
                <p>Contact Number : {{ user.contact_number }}<p>
            </div>
            <div class="official">
            	<h3>Official Details </h3>
                <p>Website Linked : <a href="google.com">{{ user.website_linked }}</a></p>
                <p>User Introduction : {{ user.user_introduction }}</p>
            </div>

		</div>
                <br>

        	   

	
		<footer>
			<div class="Manageby">
			<h4> MANAGE AND PUBLISHEDBY:</h4>
				<div>VAIBHAV BAJPAI ||  KUNAL RAJPUT  || KANIKA SINGHAL</div>
			</div>
			<div class="companylogo">
						<img id="img1" src="{% static '../static/image/book1.png' %}" alt="company logo" >
			</div>
			<div class="followus">
				<h4>FOLLOW US:</h4>
				<a href="https://www.facebook.com">
				<img id="link" alt="followus" src="{% static '../static/image/facebook.png' %}" >
				<a href="http://www.twitter.com">
				<img id="link" alt="followus" src="{% static '../static/image/twitter.png' %}">
				<a href="https://www.youtube.com">
				<img id="link" alt="followus" src="{% static '../static/image/youtube.png' %}" >
			</div>
		</footer>
 </body>
</html>
