{% load static %}
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{% static './css/search.css' %}">
		
			


	
			<header>
			<div>
				<ul>
				  <li><a class="active" href="{% url 'registration:home' %}">Home</a></li>
				   <li><a href="{% url 'registration:Search Job' %}">Search</a></li>
				  
				  
                    {% if flag == "on" %}
                        <li id="login"><a href="">login</a>
                      <ul class="dropdown">
                      <li ><a href="{% url 'registration:login company' %}">Company</a></li>
                      <li ><a href="{% url 'registration:login User' %}"> User</a></li>

                      </ul>
                      <li id="signup"><a href="">Signup</a>
                      <ul class="dropdown">
                      <li><a href="{% url 'registration:registerCompany' %}">Company</a></li>
                      <li><a href="{% url 'registration:registerUser' %}">Job seeker</a></li>
                    {% endif %}
                    {% if flag == "off" %}
                        <li><a href="{% url 'registration:Job Submit' %}">Post a job</a></li>
                        <li style="float: right;"><a href="{% url 'registration:logout' %}">Logout</a></li>
                        <li><a href="{% url 'registration:profilecheck' %}">Profile</a></li>
                    {% endif %}
                  </ul>
				</ul>
			</div>
			</header>
	</head>
	<body background="{% static './image/blue.png' %}">
            <div class="search">
                <h1> SEARCH:</h1>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                     <input type="submit" value="Submit" />
                 </form>

            </div>

            <div class="animationimages" >
             <img class="mySlides" src="{% static './image/hero1.png' %}" >
			<img class="mySlides" src="{% static './image/hero2.png' %}" >
			<img class="mySlides" src="{% static './image/hero3.png' %}" >

            </div>

		    <div></div>
            <div>
                {%  for JobDetails in list %}

                 <a href="{% url 'registration:application' JobDetails.details %}"> <p> Job Details :{{ JobDetails.details }}</p></a>
                 <p> Job Pay : {{ JobDetails.pay }}</p>
                 <p> Job Deadline : {{ JobDetails.deadline }}</p>
                    <p> Genre : {{ JobDetails.genre }}</p>

                {% endfor %}
            </div>
	

	<footer>
			<div class="Manageby">
			<h4> MANAGE AND PUBLISHEDBY:</h4>
				<div>VAIBHAB BAJPAI ||  KUNAL RAJPUT  || KANIKA SINGHAL</div>
			</div>
			<div class="followus">
				<h4>FOLLOW US:</h4>
				<a href="https://www.facebook.com/">
				<img id="link" alt="followus" src="{% static './image/facebook.png' %}" >
				<a href="http://www.twitter.com">
				<img id="link" alt="followus" src="{% static './image/twitter.png' %}"> 
				<a href="https://www.youtube.com">
				<img id="link" alt="followus" src="{% static './image/youtube.png' %}" >
			</div>
		</footer>
	
		<script>
			var myIndex1=0;
			element1();
			function element1()
			{
				var i;
				var x=document.getElementsByClassName("mySlides");
				for(i=0;i<x.length;i++)
				{
				x[i].style.display="none";
				}
				myIndex1++;
				if(myIndex1 > x.length)
				{
				myIndex1=1;
				}
				x[myIndex1-1].style.display = "block";
				setTimeout(element1, 4000);
			}
			</script>
 </body>
</html>