{% load static %}

<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{%  static '../static/css/profile.css' %} ">





			<header>
			<div>
				<ul>
				    <li><a class="active" href="{% url 'registration:home' %}">Home</a></li>
				   <li><a href="{% url 'registration:Search Job' %}">Search</a></li>
				  
				  
                    {% if flag == "on" %}
                        <li id="login"><a href="">login</a>
                      <ul class="dropdown">
                      <li ><a href="{% url 'registration:login company' %}">Company</a></li>
                      <li ><a href="{% url 'registration:login User' %}"> User</a></li>

                      </ul>
                      <li id="signup"><a href="">Signup</a>
                      <ul class="dropdown">
                      <li><a href="{% url 'registration:registerCompany' %}">Company</a></li>
                      <li><a href="{% url 'registration:registerUser' %}">Job seeker</a></li>
                    {% endif %}
                    {% if flag == "off" %}
                      <li><a href="{% url 'registration:Job Submit' %}">Post a job</a></li>
                        <li><a href="{% url 'registration:profilecompany' %}">Profile</a></li>
                    {% endif %}

                  </ul>

				  </li>


				</ul>
			</div>
			</header>
	</head>
	<body background="{% static '../static/image/blue.png' %}">

		<div class="profile">

                {% for JobApplication in user %}
                  <div class="">
                     <h1>Application Details</h1>
                     <p><strong>Application submitted on job detail : </strong>{{ JobApplication.details }}</p>
                     <p><strong>User Name : </strong>{{ JobApplication.user_name }}</p>
                     <p><strong>Application :</strong> {{ JobApplication.application_text }}<p>
                     <p><strong>Email Id User:</strong> {{ JobApplication.email_user }}</p>
                     <a href="{% url 'registration:confirmjob' JobApplication.application_text %}"><p><strong> Accept</strong></p></a>
                  </div>
                  <div class="s">
                     <p><strong>Pay Expected: </strong>{{ JobApplication.pay_expected }}<p>
                  </div>
                 {% endfor %}

		</div>

		<footer>
			<div class="Manageby">
			<h4> MANAGE AND PUBLISHEDBY:</h4>
				<div>VAIBHAB BAJPAI ||  KUNAL RAJPUT  || KANIKA SINGHAL</div>
			</div>
			<div class="companylogo">
						<img id="img1" src="{% static '../static/image/book1.png' %}" alt="company logo" >
			</div>
			<div class="followus">
				<h4>FOLLOW US:</h4>
				<a href="https://www.facebook.com">
				<img id="link" alt="followus" src="{% static '../static/image/facebook.png' %}" >
				<a href="http://www.twitter.com">
				<img id="link" alt="followus" src="{% static '../static/image/twitter.png' %}" >
				<a href="https://www.youtube.com">
				<img id="link" alt="followus" src="{% static '../static/image/youtube.png' %}" >
			</div>
		</footer>
 </body>
</html>
